* { margin: 0; padding: 0; }

html,
body {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    width          : 100%;
    height         : 100%;
    background     : #fafafa;
    color          : #777777;
}

#uploader {
    -webkit-appearance: none;
    appearance        : none;
    width             : 50%;
    margin-bottom     : 10px;
}
